 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <h2>Ajouter un utilisateur</h2>
        <div class="form-group">
            <label for="name" class="text-dark">Nom</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Jean Robert">
        </div>
        <div class="form-group">
            <label for="Email" class="text-dark">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="password" class="text-dark">Mot de Passe</label>
            <input type="password" name="password" value="" placeholder="********">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>