.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    overflow-y:auto
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  .d-flex{
      justify-content: center;
  }

#sidebar ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

#sidebar a {
	text-transform: uppercase;
	text-decoration: none;
	color: #0a0a0a;
	padding: 10px;
	display: inline-block;
}

#sidebar .active{
	background: var(--dark);
}

#sidebar .active a{
	color: white;
}

#sidebar li:hover {
    background: #552cad;
}
#sidebar li:hover a{
    color: white;
}

#logout {
    position: absolute;
    bottom: 0;
    left: 35%;
}

  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }